header {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 50vh;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 70vh;
  background-color: #282c34;
}
